<div id="products" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
            fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div class="logo my-12 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
                <!-- <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    shopping_basket
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Products
                </span> -->

                <!-- <span *ngFor="let b of lcomments">{{b.clg_Name| json}}</span> -->

            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div style="padding-left: 170px" class="search-input-wrapper mx-24 m-md-0" fxFlex="1 0 auto" fxLayout="row"
                fxLayoutAlign="start center">
                <!-- <label for="search" class="mr-8">
                    <mat-icon class="secondary-text">search</mat-icon>
                </label> -->
                <!-- <mat-form-field floatLabel="never" style="width: 400px">
                    <input type="text" id="search" matInput #filter placeholder="Search College " [(ngModel)]="searchdata">
                </mat-form-field> -->

            </div>

            <!-- / SEARCH -->



        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->

        <div class="content-card " style="overflow:auto;">

            <table mat-table [dataSource]="lcomments " class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition"
                -->

                <!-- Position Column -->
                <ng-container matColumnDef="reg_id">
                    <th mat-header-cell *matHeaderCellDef> ID </th>
                    <td mat-cell *matCellDef="let element"> {{element.reg_id}} </td>

                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="Name">
                    <th mat-header-cell *matHeaderCellDef> Name</th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
                <ng-container matColumnDef="Email">
                    <th mat-header-cell *matHeaderCellDef> Email</th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>
                <ng-container matColumnDef="status">
                    <th mat-header-cell style="padding-left: 70px" *matHeaderCellDef> Status</th>

                    <td mat-cell *matCellDef="let element">
                        <mat-select class="w-50-p" name=role #role placeholder="Select Status" value={{element.role}}>

                            <mat-option value=2>
                                Master
                            </mat-option>
                            <mat-option value=1>
                                Admin
                            </mat-option>
                            <mat-option value=0>
                                Agent
                            </mat-option>


                        </mat-select>
                        <a style="padding: 20px " [routerLink]="" class="btn btn-danger" (click)="update(role.value ,element.reg_id,element.email)">Update</a>
                    </td>






                </ng-container>


                <ng-container matColumnDef="button">
                    <th mat-header-cell style="padding-left: 25px" *matHeaderCellDef> Action </th>

                    <td mat-cell *matCellDef="let element">

                        <a style="padding: 20px ; color :red" [routerLink]="" class="btn btn-danger" (click)="delete(element.reg_id,element.email,element.role)">Remove</a>
                    </td>






                </ng-container><!-- Weight Column -->

                <!--  -->
                <!-- Symbol Column -->
                <!-- <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef> Symbol </th>
            <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container> -->

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>


        </div>

        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->

</div>